@import url('https://fonts.googleapis.com/css?family=Roboto|Scheherazade&display=swap');
:root {
  --primary        : #000A12;
  --secondary      : #263238;
  --tertiary       : #182025;
  --text           : #FFFFFF;
  --text-secondary : #4F5B62;
  --text-tertiary  : #898989;
  --text-quaternary: #e2e2e2;
  --text-success   : #52cc99;
  --text-warning   : #f2b900;
  --text-danger    : #f26353;
}

html, body, .container, #root {
  /* height: 100%; */
  min-height: 100%;
}

html {
  position: relative;
  min-width: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
}

.container {
  color: var(--text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  width: 100%;
  flex: 0 0 48px;
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--secondary);
  -webkit-box-shadow: -2px 4px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 21px -2px rgba(0,0,0,0.75);
  box-shadow: -2px 4px 21px -2px rgba(0,0,0,0.75);


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 16px;
  color: var(--text-light);
}

.content {
  margin-top: 72px;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  background-color: var(--primary);
  border-radius: 16px 16px 0px 0px;
  padding: 16px 16px 80px 16px ;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-box {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  background-color: var(--secondary);
  border-radius: 16px;
  padding: 16px;
  color: var(--text);
  margin-bottom: 8px;
  border: none;
  outline: none;

  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-box:active {
  outline: none;
  background-color: var(--tertiary);
}

.counter-lg-box {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  border: 2px solid var(--secondary);
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-lg-value {
  font-size: 96px;
}

.counter-lg-label {
  font-size: 18px;
}

.counter-container {
  margin-top: 16px;
  width: 100%;
  flex: 1;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

.counter-box {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  border: 2px solid var(--secondary);
  border-radius: 16px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-value {
  font-size: 64px;
}

.counter-label {
  font-size: 16px;
}

.counter-percentage {
  margin-top: 8px;
  font-size: 10px;
  color: var(--text-tertiary)
}

.counter-box-separator {
  width: 16px;
}

.footer {
  margin-top: 32px;
  line-height: 18px;
  color: var(--text-secondary);
  font-size: 12px;
  text-align: center;
}

.footer a {
  color: var(--text-secondary);
  text-decoration: none;
}

.help-text {
  color: var(--text-secondary);
  font-size: 12px;
}

.text-success {
  color: var(--text-success);
}

.text-warning {
  color: var(--text-warning);
}

.text-danger {
  color: var(--text-danger);
}

/* Begin RankPage */
.rank-list {
  width: 100%;
  padding-inline-start: 0px;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

.rank-list > li {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding-inline-start: 0px;
  padding: 32px 12px 32px 12px !important;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 16px;
  background-color: var(--secondary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.rank-number {
  width: 40px;
  border-right: 2px solid var(--primary);
  padding-right: 8px;
  /* background-color: darkcyan; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.position {
  font-size: 28px;
}

.rank-content {
  width: 100%;
  padding-left: 16px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.country-name {
  font-size: 16px;
  margin-bottom: 4px;
}

.province-state-name {
  font-size: 16px;
  color: var(--text-tertiary);
}

.case-summary {
  font-size: 10px;
}

.case-summary-text {
  margin-right: 8px;
}

.icon {
  width: 8px;
}

.list-box-separator {
  margin: 0px 8px 16px 8px;
  width: 20px;
  box-sizing: border-box;
  border-bottom: 4px dotted var(--secondary);
  align-self: center;
}

/* Begin NavBar */
.navbar {
  position: fixed;
  width: 100%;
  margin-top: 1000px;
  /* padding-top: 16px; */
  /* padding-bottom: 16px; */
  bottom: 0;
  text-align: center;
  background-color: var(--primary-light);
  font-size: 12px;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar > button {
  display: inline-block;
  width: 100%;
  height: auto;
  /* padding: 12px 12px 12px 12px; */
  padding-top: 12px;
  background-color: var(--tertiary);
  color: var(--inactive-text);
  border: none;
  outline: none;
}

.navbar > button:active {
  background-color: var(--secondary);
}

.navbar > .active > img {
  opacity: 1;
}

.navbar > .active > p {
  opacity: 1;
  color: var(--text);
}

.navbar > button > img {
  opacity: 0.5;
  height: 24px;
}

.navbar > button > p {
  color: var(--text-tertiary);
  margin-top: 4px;
}

/* Begin Loading */
.loading {
  text-align: center;
  margin-top: 56px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* Begin AboutPage */
.content > h1 {
  color: var(--text-quaternary);
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: flex-start;
  font-weight: normal;
}

.content > p {
  color: var(--text-quaternary);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;

  align-self: flex-start;
}

p > a {
  color: var(--text);
  text-decoration: none;
}

p > a:hover {
  color: var(--text);
  text-decoration: underline;
}

.logo {
  width: 12px;
  margin: 0px 1px 0px 1px;
}

/* Begin DoaPage */
.content > h2 {
  color: var(--text-quaternary);
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  
  align-self: center;
}

.card-doa {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary);
  padding: 32px 16px 0px 16px;
  border-radius: 16px;
  text-align: center;
}

.card-doa > .doa-arabic {
  font-family: 'Scheherazade', serif;
  font-size: 36px;
  direction: rtl;
  margin: 0px;
  padding: 0px;
}

.card-doa > .doa-latin {
  font-size: 14px;
  margin: 12px 0px 8px 0px;
  padding: 0px;
}

.card-doa > .doa-translation {
  font-size: 12px;
  margin: 4px 0px 40px 0px;
  padding: 0px;
  color: var(--text-tertiary);
}

.content > .doa-history {
  font-size: 12px;
  margin: 8px 0px 16px 0px;
  padding: 0px;
  color: var(--text-tertiary);
  text-align: center;
  align-self: center;

}
